@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: sansation;
    src: url(./assets/fonts/sansation/Sansation_Bold.ttf);
  }
body{
    font-family: 'Roboto', sans-serif;
}
p{
    margin-bottom: 0px !important;
}
ul{
    list-style: none !important;
    padding: 0px !important;
}
/* ************************************* navbar section start *************************************** */
.navBar{
    display: flex;
    background-color: #FFFFFF;
    padding: 16px 25px;
}
.navBarSm{
    display: none !important;
}
.logo-section{
    flex: 0 0 25%;
}
.logo-section div{
    margin: auto 0px;
}
.logo-section img{
    width: 59px;
    height: 28px;
}
.logo-section p{
    font-family: sansation !important;
    color: #38A7A7;
    font-size: 26px;
    margin: 0px 10px;
    margin-bottom: 0px;
}
.search-input{
    position: relative;
    flex: 0 0 55%;
}
.search-input input{
    background-color: #E4F5F5;
    border-radius: 3px;
    width: 474px;
    height: 40px;
    padding: 11px 37px;
    border: 0px;
}
.search-input input:hover,
.search-input input:focus{
    border: 0px;
    outline: none;
}
.search-input input::placeholder{
    color: #C5C5C5;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.search-input img{
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
.links-section{
     flex: 0 0 20%;
     justify-content: end;
}
.links{
    margin: auto 0px;
}
.links img{
    margin: 0px 13px;
    cursor: pointer;
}
.profile{
    margin: auto 0px;
}
.profile div img{
    cursor: pointer;
    margin-bottom: 5px;
}
.profile p{
    margin: 0px 12px;
    color: #585858;
    font-size: 15px;
}
/* ************************************* navbar section end *************************************** */
/* ************************************* side menu section start *************************************** */
.side-menu{
    flex: 0 0 22.5%;
    background-color: #38A7A7;
    padding: 0px !important;
}
.compose-mail-container{
    padding: 21px 51px;
}
.compose-mail{
    background-color: #248C8C;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 19px 0px;
    cursor: pointer;
}
.compose-mail p{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 8.5px;
}
.side-menu-tabs ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-left: 4px solid #38A7A7;
    margin-bottom: 10px;
    cursor: pointer;
}
.side-menu-tabs ul li.active {
    border-left: 4px solid #F9B52E;
    background: linear-gradient(90deg, #2D9898 0%, #38A7A7 92.13%);
}
.side-menu-tabs ul li div{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.side-menu-tabs ul li p{
    color: #FFFFFF;
    font-size: 15px;
    flex: 0 0 50%;
}
.side-menu-tabs ul li span{
    background-color:#F9B52E;
    border-radius: 50%;
    padding: 1px 6px;
    margin: auto 0px;
}
.side-menu-tabs ul li span p{
    font-size: 12px;
    color: #FFFFFF;
}
.line{
    border-bottom: 1px solid #B8B8B8;
    margin: 0px 15px;
    margin-bottom: 20px;
}
.categories{
    padding: 0px 20px;
}
.categories div{
    flex: 0 0 18%;
}
.categories ul{
    flex: 0 0 50%;
}
.categories ul li{
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
}
.trash{
    padding: 0px 20px;
    margin-bottom: 20px;
}
.trash div{
    flex: 0 0 18%;
}
.trash p{
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
/* ************************************* side menu section end *************************************** */
.main-section{
    background-color: #F6F6FA;
    flex: 0 0 77.5%;
}
.alert-notification{
    background-color: #E4F5F5;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    margin-bottom: 40px ;
}
.close-alert{
    position: absolute;
    right: 19px;
    top: 19px;
    cursor: pointer;
}
.alert-notification div img{
    margin-right: 15px;
}
.alert-content{
    margin: auto 0px;
}
.alert-main-title{
    font-size: 18px;
    color: #585858;
    margin-bottom: 21px;
}
.alert-main-title span{
    font-weight: bold;
}
.alert-sub-title{
    font-weight: normal;
    font-size: 15px;
    color: #585858;
}
.alert-sub-title span{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #38A7A7;
    margin-right: 8px;
}
.toolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.toolbar-select{
    display: flex;
}
.toolbar-select input{
    width: 20px;
    height: 20px;
    margin: auto 25px;
    cursor: pointer;
}
.toolbar-select img{
    cursor: pointer;
}
.toolbar-control{
    display: flex;
}
.toolbar-control p{
    color: #6F6F6F;
    font-size: 15px;
    margin-right: 9px;
}
.toolbar-control .sort{
    display: flex;
    margin-right: 18px;
}
.toolbar-control .sort img{
    cursor: pointer;
}
.toolbar-control .arrange{
    display: flex;
}
.toolbar-control .arrange img{
    height: 15px;
    margin: auto 0px;
    cursor: pointer;
}
.toolbar-control .arrange img:first-child{
    margin-right: 9px;
}
.messg{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 7px 0px;
    flex-wrap: wrap;
    margin-bottom: 3px;
    min-height: 60px;
}
.messg:nth-child(1) p,
.messg:nth-child(2) p{
    font-weight: bold;
}
.messg-1{
    display: flex;
    flex: 0 0 15%;
    justify-content: space-around;
}
.messg-1-favourite{
    display: flex;
    align-items: center;
    flex: 0 0 33%;
}
.messg-1 .messg-1-online{
    display: flex;
    align-items: center;
    flex: 0 0 20%;
}
.messg-1 input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.messg-1 .messg-1-input{
    text-align: center;
    display: flex;
    padding-left: 25px;
    margin: auto 0px;
    flex: 0 0 47%;
}
.messg-2{
    display: flex;
    flex: 0 0 60%;
}
.messg-2 .messg-2-name{
    flex: 0 0 25%;
}
.messg-2 .messg-2-content{
    flex: 0 0 75%;
}
.messg-2 img{
    display: none;
}
.messg-3{
    display: flex;
    flex: 0 0 25%;
}
.messg-3 div{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}
.messg-3 img{
    padding-right: 25px;
    flex: 0 0 50%;
}
.fav-sm{
    display: none !important;
}
.message-content{
    display: none;
}
.inbox-container{
    display: flex;
}
.inbox-container .message-content{
    background-color: white;
    flex: 0 0 60%;
    width: 60%;

}
.inbox-container .inbox-side{
    margin-right: 7px;
    height: 78vh;
    overflow-y: scroll;
    flex: 0 0 40%;
}
.inbox-container .message-content{
    display: block !important;
}
.inbox-container .messg:first-child{
    background-color: #E4F5F5 !important;
}
.inbox-container .messg{
    align-items: flex-start;
}
.inbox-container .messg-1{
    justify-content: normal;
}
.inbox-container .messg-1 .messg-1-input{
    margin-top: 5px;
}
.inbox-container .messg-1 .messg-1-favourite,
.inbox-container .messg-1 .messg-1-online{
    display: none;
}
.inbox-container .messg-2,
.inbox-container .messg-3{
    display: block;
}
.inbox-container .messg-3{
    flex: 0 0 40%;
}
.inbox-container .messg-3 div{
    justify-content: end;
    padding-right: 20px;
}
.inbox-container .messg-3 img{
    padding-right: 0px; 
    flex: initial;
}
.inbox-container .messg-2{
    flex: 0 0 45%;
}
.inbox-container .messg-2 p:nth-child(1){
    margin-bottom: 14px !important;
}
.inbox-container .messg-2 p:nth-child(2){
    margin-bottom: 24px !important;
}
.inbox-container .messg-2 img{
    display: block;
}
.inbox-container .msg-envelop{
    display: none;
}
.inbox-container .fav-sm{
    display: flex !important;
}
.inbox-toolbar{
    display: flex;
    background-color: #E4F5F5;
    justify-content: space-between;
    padding: 12px 20px;
    margin-bottom: 17px;
}
.inbox-toolbar p{
    font-weight: 500;
}
.inbox-toolbar img{
    margin-left: 18px;
    cursor: pointer;
}
.information-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 40px;
}
.information-bar p{
    color:#6F6F6F;
    font-weight: 400;
}
.information-bar div img{
    margin-left: 11px;
}
.attach-img{
    padding: 25px;
}
.attach-img img{
    height: auto;
    object-fit: contain;
    width: 100%;
}

.float-btn{
    display: none;
}

@media only screen and (max-width: 991px) {
    .navBar-lg{
        display: none !important;
    }
    .navBarSm{
        display: block !important;
    }
    .side-menu{
        display: none !important;
    }
    .main-section{
        flex: 0 0 100%;
    }
    .logo-section{
        flex: initial !important;
    }
    .colapse-color{
        background-color: #38A7A7;
        padding: 25px 0px;
    }
    div[aria-expanded="false"] svg{
        fill: #38A7A7;
    }
    div[aria-expanded="true"] svg{
        fill: #F9B52E;
    }
  }
  @media only screen and (max-width: 776px) {
    .inbox-container .inbox-side{
        margin-right: 0px;
        height: auto;
        overflow-y: auto;
        flex: auto;
    }
    .inbox-container .message-content{
        display: none !important;
    }
    .alert-notification{
        display: none !important;
    }
    .messg{
        align-items: flex-start;
    }
    .messg-1{
        justify-content: normal;
    }
    .messg-1 .messg-1-input{
        margin-top: 5px;
    }
    .messg-1 .messg-1-favourite,
    .messg-1 .messg-1-online{
        display: none;
    }
    .messg-2,
    .messg-3{
        display: block;
    }
    .messg-3{
        flex: 0 0 40%;
    }
    .messg-3 div{
        justify-content: end;
        padding-right: 20px;
    }
    .messg-3 img{
        padding-right: 0px; 
        flex: initial;
    }
    .messg-2{
        flex: 0 0 45%;
    }
    .messg-2 p:nth-child(1){
        margin-bottom: 14px !important;
    }
    .messg-2 p:nth-child(2){
        margin-bottom: 24px !important;
    }
    .messg-2 img{
        display: block;
    }
    .msg-envelop{
        display: none;
    }
    .fav-sm{
        display: flex !important;
    }
    .float-btn{
        display: block;
        position: fixed;
        bottom: 37px;
        right: 26px;
        background: #248C8C;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 9%);
        border-radius: 5px;
        padding: 22px;
    }
  }
